div {
  border-radius: 5px;
}

#header {
  height: 100px;
  margin-bottom: 10px;
  background-color: #2E2A66;
}

.left {
  height: 300px;
  width: 150px;
  background-color: #9695EB;
  float: left
}

.right {
  height: 300px;
  width: 1000px;
  background-color: #A8F1ED;
  float: left
}
  
h1 {
  text-align: center;
}
