div {
  border-radius: 5px;
}

#header {
  height: 100px;
  background-color: #2E2A66;
  margin-bottom: 10px;
}

.left {
  height: 300px;
  width: 200px;
  background-color: #9695EB;
  float: left
}

.right {
  height: 300px;
  width: 500px;
  background-color: #A8F1ED;
  float: right
}
  
h1 {
  text-align: center;
  color: #FFFFFF;
}

h2 {
  font-size: 16px;
}

h1 {
  font-size: 20px;
}

h4 {
  font-size: 25px;
  font-weight: bold;
}
